body{
    padding: 100px;
}

.p{
    font-size: 30px;
    font-style: italic;
}

.tost_animation_in{
    animation: tost_animation_in 0.5s ease-in;
}
.tost_animation_out{
    animation: tost_animation_out 0.5s ease-in;
}

.tostMessage{
    position: fixed;
    background-color: green;
    border: 2mm;
    top: 2rem;
    right: 2rem;
    color: #fff;
    padding: 1rem 2rem;
}

@keyframes tost_animation_in {
    from {transform: translateX(200px);
          opacity: 0;
    }
    to {transform: translateX(0px);
        opacity: 1;}
  }
  