body{
    padding: 100px;
}
.p{
    font-size: 30px;
    font-style: italic;
}
.submit_area{
    margin-top:50px;
    padding: 20px;
    box-shadow: 5px 5px 10px gray;
    border-radius: 10px;
}
#transaction_area{
    display: none;
}
.status{
    margin: 0 20px;
    color: white;
    border-radius: 10px;
    padding: 30px;
}
.deposit{
   
    background-color: slateblue;
}
.withdraw{
    background-color: lightsalmon;
}
.balance{
    background-color: orange;
}
